body {
    padding: 0;
    margin: 0;
    --glowny-kolor: #97b735;
} /*Menu*/
nav {
    background-color: var(--glowny-kolor);
    color: white;
    padding: 10px 100px 10px 100px;
    
}
nav ul {
    padding: 20px;
    margin: 0px;
    list-style: none;
}
nav ul li {
    display: inline;
    padding: 5px;
    margin: 40px;
    font-size: 23px;
}
nav ul li a:hover {
    background-color: white;
    color: #97b735;
}
nav ul li a {
    text-decoration: none;
    color: white; 
    border-radius: 5px;
    
}/*Głowny baner*/
#baner {
    width: 100%;
    margin: 0px;
}/*Artykuł*/
article {

    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    background-color: #54504F;
    color: white;
    margin: 0px;
}/*3 obrazki*/
#obrazki{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    background-color: #F4F4F4;
}/*Artykuł*/
article div h2 {
    color: var(--glowny-kolor);
    padding-bottom: 3px;
    
}
article div a {
    text-decoration: none;
    color: var(--glowny-kolor);
}
.space {
    padding: 30px;
}
#avatr {
    margin-top: 120px;
    background-image: url('avatar.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100px;
    padding-left: 110px;
}/*Stopka*/
footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    background-color: var(--glowny-kolor);
    color: white;
    padding: 5px 100px 20px 100px;
}
footer div {
    padding: 10px;
    
}
footer h4 {
    font-size: 20px;
    margin: 10px 0px 0px 0px;
}
footer p {
    font-size: 15px;
    margin: 0;
}
footer h4 i {
    font-size: 30px;
}